$color-white: #FFFFFF;
$color-black: #000000;
$color-9d: #9d9d9d;
$color-83: #838383;
$color-f4: #F4F4F4;
$color-b7: #B7B7B7;
$color-2f: #2f2f2f;
$color-eee: #eeeeee;
$color-999: #999999;

$color-01: #212121;
$color-02: #60BDE8;
$color-03: #eceff1;
$color-04: #f4511e;
$color-05: #d84315;
$color-06: #363b41;
$color-07: #3b4148;
$color-08: #3b55c3;