.bullet {
  .box{
    width: 90%;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, .2);
    border-radius: 6px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .cell{
    color: $color-09;
    font-size: 20px;
    font-weight: bold;
    margin: 8px;
    line-height: 40px;
    cursor: pointer;

    &:hover{
      color: $color-10;
    }
    &:active{
      color: $color-white;
    }
  }
  .active{
    color: $color-white!important;
  }
  .dialog{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(55, 58, 71, 0);
    z-index: 10;
    display: none;
    transform-origin: center center;
    transition: all .3s;
    

    .main{
      max-width: 560px;
      min-width: 290px;
      overflow: hidden;
      box-sizing: border-box;
      background-color: $color-white;
      position: absolute;
      padding: 40px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.5, 0.5);
      transition: all .3s;

      .tip{
        font-size: 20px;
        color: $color-10;
        font-weight: bold;
        line-height: 40px;
        margin-bottom: 60px;
        text-align: center;
      }
      .close{
        width: 110px;
        height: 50px;
        overflow: hidden;
        box-sizing: border-box;
        line-height: 50px;
        text-align: center;
        display: block;
        margin: auto;
        color: $color-white;
        background-color: $color-10;
        border: none;
        cursor: pointer;
      }
    }
  }
}
