.canvas-outer{
  width: 640px;
  height: 640px;
  margin: 60px auto;
  background-color: #FF4500;
  box-shadow: 0 0 20px #AEEEEE;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  border-radius: 100%;

  .canvas-inner{
    width: 600px;
    height: 600px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0 20px $color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
  }
  #turntable{
    transition: all 10s;
    transform-origin: center center;
  }
  .pointer{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -94px 0 0 -60px;
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 120px 120px;
    z-index: 10;
    cursor: pointer;
  }
}

